[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
importlib-metadata = ">=4.4"
Django = "*"
Markdown = "*"
martor = "*"

[dev-packages]

[requires]
python_version = "3.9"
